<div class='col-4'>
    <div class='row p-2'>
        <h6>New Interface Type:</h6>
        <form id='new_device_type' method='POST'>
            <input name='phy_conn' placeholder='Physical Connector'>
            <input name='speed' placeholder='Speed'>
            <button class='form_button' data-url='/interface_type/add' type='button'>Add</button>
        </form>
    </div>
</div>
<div class='col-8'>
    <table class='table'>
        <thead>
            <th>Physical Connector</th>
            <th>Speed</th>
        </thead>
        <tbody>
            {% for interface_type in interface_types %}
            <tr>
                <td>{{interface_type.description}}</td>
                <td>{{interface_type.speed}}</td>
                <td>
                    <button class="action_button" data-url='/interface_type/delete/{{interface_type.id}}' type='button'>Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>    
</div>